.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

}

.hero {
  margin-top: 150px;

  position: relative;
  width: 100%;
}

.logo-nav{
position: relative;
text-align: center;

}

.logo-nav > img{
  display: inline-block;
  width: 300px;
}

.circles-container{
position: absolute;
width: 80px;
height: 80px;
top: 50%;
left: 50%;
transform: translate3d(-50%, -50%, 0);
}

.circle{
opacity: 0;
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
display: block;
border-radius: 50%;
border: 2px solid black;

}

.nav{
  width:100%;
  text-align: center;

}

.nav-item{
  position: relative;
  display:inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.nav-item:before{
  content: "";
  position: absolute;
  top:100%;
  margin-top: 10px;
  width:100%;
  left:0;
  height:2px;
  background: blue;
  opacity:0;
  transform: translateY(5px);
  transition: all 0.1s ease-in-out;
}

.nav-item:hover:before{
opacity:1;
transform: translateY(0);
}


/*

#centered {
    text-align: center;
    text-decoration: none;
    margin-left:100px;

    position: relative;
    top: 70%;
    transform: translateY(+100%);
}

#listenList {
    text-align: center;

    position: relative;
    top: 70%;
    transform: translateY(+220%);
    margin-left:35px;
    word-spacing: 45px;
}

#listenList a{
    text-decoration: none;
}

#socialList {
    text-align: center;

    position: relative;
    top: 70%;
    transform: translateY(+220%);
    margin-left:35px;
    word-spacing: 45px;
}

#socialList a{
    text-decoration: none;
}


#menu {
    text-align: center;

    position: relative;
    top: 30%;
    transform: translateY(+400%);
    word-spacing: 30px;

}

#menu a{
    color: black;
    text-decoration: none;

    font-family: Futura,Trebuchet MS,Arial,sans-serif;

}

#menu a:hover{
    color: lightgrey;
    text-decoration: none;

}

#circle-container {
    display: none;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;


}


#north {

    position: absolute;
}

#northeast {

  position: absolute;

}

#east {


  position: absolute;
}

#southeast {


  position: absolute;
}

#south {


  position: absolute;
}

#southwest {


  position: absolute;
}

#west {

  position: absolute;
}

#northwest {


  position: absolute;
}*/
