.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

}

.hero {
  margin-top: 150px;

  position: relative;
  width: 100%;
}

.logo-nav{
position: relative;
text-align: center;

}

.nav-icon{
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  padding: 7px;
}

.nav-icon > img {
    width: 70%;
    height: auto;
    position: absolute;
    display: block;
}

.icons{
  position: absolute;
  display: block;
  width:100%;
  text-align: center;
}

.logo-nav > img{
  display: inline-block;
  width: 300px;
}

.circles-container{
position: absolute;
width: 80px;
height: 80px;
top: 50%;
left: 50%;
transform: translate3d(-50%, -50%, 0);
}

.circle{
opacity: 0;
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
display: block;;
border-radius: 50%;
border: 4px solid black;

}

.circle:hover{
  opacity:.5;
  cursor: pointer;
  border-radius: 70%;
}

.largerCircle{
opacity: 0;
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
display: block;;
border-radius: 60%;
border: 5px solid black;

}

.feather{
  opacity: 1;
  position: relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  top: -40px;
  left:20px;
}

#Feather:hover{
  opacity:.5;
  cursor: pointer;

}

.nav{
  width:100%;
  text-align: center;

}

.nav-item{
  position: relative;
  display:inline-block;
  padding: 7px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.nav-item:before{
  content: "";
  position: absolute;
  top:100%;
  margin-top: 10px;
  width:100%;
  left:0;
  height:1px;
  background: black;
  opacity:0;
  transform: translateY(5px);
  transition: all 0.1s ease-in-out;
}

.nav-item:hover:before{
opacity:1;
transform: translateY(0);
}

#Logo:hover{
opacity:.5;
cursor: pointer;
}
#c1:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
#c2:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
#c3:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
#c4:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
