body {
    background-color: #fff4e0;

    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -khtml-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

}

.albumArt{
  position:absolute;
  display: block;
  width:300px;
  height:400px;
  margin: 0 auto;

  margin-right:200px;
  margin-bottom:200px;
  z-index:0;


}

.albumArt > img{
  position:relative;
  display: block;
  opacity: 0.6;
  width: 300px;
  bottom:120px;

}

#leftArt{
  float:left;
  opacity:0;
  margin-left:90px
}
#rightArt{
    opacity:0;
    float:right;
    margin-left:410px

}

.hero {
  margin-top: 150px;

  position: relative;
  width: 100%;
  z-index: 1;
  opacity:0;
}

.logo-nav{
position: relative;
text-align: center;


}

.nav-icon{
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  padding: 7px;
}

.nav-icon > img {
    width: 70%;
    height: auto;
    position: absolute;
    display: block;
}

.nav-icon:hover{
  opacity:.5;
  cursor: pointer;
}

.icons{
  position: absolute;
  display: block;
  width:100%;
  text-align: center;
}

.logo-nav > img{
  display: inline-block;
  width: 300px;
}

.circles-container{
position: absolute;
width: 80px;
height: 80px;
top: 50%;
left: 50%;
transform: translate3d(-50%, -50%, 0);
}

.circle{
opacity: 0;
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
display: block;;
border-radius: 50%;
border: 4px solid black;
}

.circle:hover{
  opacity:.5;
  cursor: pointer;
  border-radius: 70%;
}

.largerCircle{
opacity: 0;
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
display: block;;
border-radius: 60%;
border: 5px solid black;

}

.feather{
  opacity: 1;
  position: relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  top: -40px;
  left:20px;
}

#Feather:hover{
  opacity:.5;
  cursor: pointer;

}

.nav{
  width:100%;
  text-align: center;

}

.nav-item{
  position: relative;
  display:inline-block;
  padding: 7px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.nav-item:before{
  content: "";
  position: absolute;
  top:100%;
  margin-top: 0px;
  width:100%;
  left:0;
  height:1px;
  background: black;
  opacity:0;
  transform: translateY(5px);
  transition: all 0.1s ease-in-out;
}

.nav-item:hover:before{
opacity:1;
transform: translateY(0);
}

#Logo:hover{
opacity:.5;
cursor: pointer;
}

#download{
display:none;
}


#listen-icons{
display:none;
}

#connect-icons{
display:none;
}

#emailForm{
display:none;
}

#email{
display: none;
}


#inquiry{
  width: 300px;
  height: 100px;

  padding-left:0;
  padding-top:0;
  padding-bottom:0.4em;
  padding-right: 0.4em;

  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#submit{
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

  padding: 7px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
}

#c1:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
#c2:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
#c3:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
#c4:hover{
opacity:.5;
cursor: pointer;
border-radius: 70%;
}
